@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #F3F4F6;
  --foreground: #171717;  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F4F6;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}